@import url(../../styles/global.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.wrapper_register-main {
  width: 1429px;
  font-family: 'Montserrat', sans-serif;
}

.logo-image {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px;
}

.logo {
  display: inline-block;
  width: 142px;
  height: 42px;
}

/* register styles */

.register-background {
  position: absolute;
  top: 2px;
  z-index: -1;
}

.register-title {
  margin: 50px 0 97px;
  text-align: center;
}

.red-dot {
  color: #f00;
}

.contact-information_wrapper {
  display: flex;
  margin-bottom: 80px;
  justify-content: center;
}

.data-title {
  margin: 0 2px 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
}

.data-input {
  width: 552px;
  margin-bottom: 20px;
  padding: 11px 0 10px 14px;
  border: 1px solid #8F8E8E;
  border-radius: 5px;
}

.data-input:nth-last-child(1) {
  margin-bottom: 0;
}

.rules-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.rules-input {
  width: 24px;
  height: 24px;
}

.rules-description {
  margin-left: 10px;
}

.rules-description:hover {
  color: #8F8E8E;
}

button.register-btn {
  width: 555px;
}

.register-description {
  margin: 30px 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: #141414;
}

.description-biggest {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
}

.description-biggest:hover {
  color: #8F8E8E;
}

/* media */

@media screen and (max-width: 1279px) {
  .wrapper_register-main {
    width: auto;
  }
}

@media screen and (max-width: 819px) {
  .wrapper_register-main {
    width: auto;
  }

  .register-background {
    position: absolute;
    width: 100%;
    height: 380px;
    object-fit:cover;
  }

  .logo-image {
    position: relative;
    z-index: 20;
  }

  .logo {
    width: 120px;
    height: 32px;
  }

  .register-title {
    margin: 20px 0 20px;
  }

  .contact-information_data {
    position: relative;
  }

  .data-input {
    width: 300px;
  }

  .register-btn {
    width: 300px;
    margin: 0 auto;
  }

  .rules-input {
    width: 16px;
    height: 16px;
  }
}
