@import url(../../styles/global.css);
@import url(../../pages/profile/profile.css);

/* main styles */

.right-side_order {
  width: 100%;
  margin-left: 31px;
  position: relative;
}

.my-order_title {
  margin: 0 0 20px;
  line-height: 30.48px;
}

.consolidate-btn {
  width: 130px;
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.orders-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 25px 25px 25px;
  border: 1px solid #DADADA;
  border-radius: 10px;
}

.order-title_wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper-title {
  display: flex;
  align-items: center;
}

.parcel-combine {
  display: flex;
  align-items: center;
}

.combine-btn {
  margin-left: 6px;
}

#consolidate {
  cursor: pointer;
}

.orders-cart {
  width: 18px;
  height: 18px;
}

.orders-title {
  margin: 0;
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  color: #141414;
}

.consolidate-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  color: #141414;
}

.order-card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.order-card {
  display: flex;
  align-items: center;
  border: 1px solid #E6E6E6;
  border-radius: 20px;
}

.order-image {
  width: 100px;
  height: 100px;
  padding: 38px 35px 38px 20px;
}

.order-description_title {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.order-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #8F8E8E;
}

.order-description_subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #8F8E8E;
}

.description-btn_wrapper {
  display: flex;
  margin-top: 20px;
}

.description-btn {
  width: 130px;
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.description-btn_line {
  width: 110px;
  height: 37px;
  border: none;
  border-radius: 50px;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration-line: underline;
  color: #141414;
  cursor: pointer;
}

.description-btn_line.hover {
  color: #8F8E8E;
}

@media (hover: hover) {
  .description-btn_line:hover {
    color: #8F8E8E;
  }
}

.lds-ellipsis_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 50px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: linear-gradient(96.36deg, #FFE145 37.36%, #FF8540 108.89%);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.process-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 25px 25px 25px;
  border: 1px solid #DADADA;
  border-radius: 10px;
}

.process-title_wrapper {
  display: flex;
}

.process-title {
  margin: 0;
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  color: #141414;
}

.process-card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.process-card {
  display: flex;
  align-items: center;
  border: 1px solid #E6E6E6;
  border-radius: 20px;
}

.process-btn_wrapper {
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 1279px) {
  .main_tracker_profile {
    margin: 134px 30px 80px;
  }

  .order-card_wrapper {
    align-items: center;
    flex-direction: column;
  }

  .process-card_wrapper {
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 819px) {
  #lines-image {
    background-position: 0% 2%;
  }

  .main_tracker_profile {
    margin: 20px 20px 80px;
  }

  .my-order_title {
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .right-side_order {
    margin-left: 0;
  }

  .order-title_wrapper {
    align-items: center;
  }

  .orders-cart {
    width: 8px;
    height: 8px;
  }

  .orders-title {
    margin-left: 6px;
    font-weight: 600;
    font-size: 9px;
    line-height: 12.6px;
  }

  .consolidate-title {
    margin-left: 6px;
    font-weight: 600;
    font-size: 9px;
    line-height: 12.6px;
  }

  .orders-wrapper {
    margin-top: 6px;
    padding: 9px 9px 9px;
    background: #FFF;
  }

  .order-card_wrapper {
    flex-direction: column;
    margin-top: 6px;
    gap: 6px;
  }

  .order-image {
    width: 75px;
    height: 75px;
    padding: 28px 26px 28px 15px;
  }

  .order-description_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0 6px;
  }

  .order-description {
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
  }

  .order-description_subtitle {
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
  }

  .description-btn {
    width: 97px;
    height: 27px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  .description-btn_line {
    width: 82px;
    height: 27px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  .process-wrapper {
    padding: 9px 9px 9px;
  }

  .process-title_wrapper {
    align-items: center;
  }

  .process-icon {
    width: 8px;
    height: 8px;
  }

  .process-title {
    font-weight: 600;
    font-size: 9px;
    line-height: 12.6px;
  }

  .process-card_wrapper {
    flex-direction: column;
    margin-top: 6px;
  }
}
