@import url(../../styles/global.css);

.detail-main {
  position: relative;
  margin: 122px 199px 50px 203px;
  z-index: 3;
}

.detail-background {
  position: absolute;
  top: 90px;
}

.detail-package {
  display: flex;
}

.greeting-wrapper {
  margin: 42px 116px 43px 0;
}

.greeting-title {
  margin: 0 0 25px;
}

.greeting-description {
  margin: 0 0 25px;
}

.detail-description {
  margin-top: 50px;
}

.detail-description_title {
  margin: 0 0 25px;
}

.detail-description_description {
  margin: 0 0 50px;
}

.grants-wrapper {
  display: flex;
}

.grants-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 75px;
}

.grants-cards:nth-last-child(1) {
  margin-right: 0;
}

.grants-cards_title {
  margin: 22px 0 0;
}

.grants-cards_description {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.8px;
}

.testimonials-wrapper {
  display: flex;
  margin: 0 0 150px 203px;
}

.testimonials {
  margin-right: 105px;
}

@media screen and (max-width: 1279px) {
  .detail-main {
    margin: 60px 30px 30px;
  }

  .testimonials-wrapper {
    margin: 0 30px 80px;
  }
}

@media screen and (max-width: 819px) {
  .wrapper {
    width: auto;
  }

  .detail-background {
    position: absolute;
    width: 100%;
    height: 380px;
    object-fit:cover;
  }

  .detail-main {
    margin: 40px 20px 20px;
  }

  .greeting-wrapper {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .detail-package {
    display: flex;
    flex-direction: column;
  }

  .greeting-title {
    font-size: 27px;
    line-height: 22.67px;
    text-align: center;
  }

  .greeting-description {
    font-size: 16px;
    line-height: 22.67px;
    text-align: center;
  }

  .get-btn {
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .detail-description_description {
    font-size: 16px;
    line-height: 20.2px;
    text-align: justify;
  }

  .grants-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .grants-cards {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .grants-cards_description {
    margin: 10px 20px 0;
  }

  .testimonials-wrapper {
    margin: 0 20px 60px;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}
