@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body.pc .menu-list > li:hover .menu-sub_list {
    display: block;
    pointer-events: all;
}

body.touch .menu-list > li.active .menu-sub_list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}

body.touch .menu-list > li.active .burger-arrow {
    transform: rotate(180deg);
    transition: all 0.3s ease 0s;
}

body.touch .burger-arrow {
    content: "";
    display: inline-block;
    width: 14px;
    height: 8px;
    margin-left: 7px;
    background-image: url(/public/icons/dropdown-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: #141414;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body._lock {
    overflow: hidden;
}

h1 {
    font-size: 35px;
    line-height: 42.67px;
    color: #141414;
}

h2 {
    font-size: 30px;
    line-height: 36.57px;
    color: #141414;
}

h4 {
    font-size: 20px;
    line-height: 24.38px;
    color: #141414;
}

h5 {
    font-size: 16px;
    line-height: 20.8px;
}

p {
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
    color: #8F8E8E;
}
