@import url(../../styles/global.css);
/* @import url(../AboutPage/AboutFaq.css); */

.contact-background {
  position: absolute;
  z-index: 0;
}

.contact-title {
  margin: 171px 0 0;
  text-align: center;
}

.contact-wrapper {
  display: flex;
  margin: 50px 171px 178px 130px;
}

.contact-image {
  margin: 73px 0 73px;
}

.contact-data_wrapper {
  margin-left: 61px;
}

.contact-subtitle {
  margin: 0 0 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #141414;
}

.contact-input_title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  color: #141414;
}

.contact-input {
  width: 570px;
  padding: 10px;
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
}

.captcha-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.g-recaptcha {
  width: 243px;
  transform: scale(0.8);
  transform-origin: 0;
}

.email-phone_wrapper {
  display: flex;
  justify-content: space-between;
}

.email-phone_input {
  width: 270px;
}

.message-input {
  height: 120px;
}

.detail-wrapper {
  display: flex;
  margin: 0 162px 150px 130px;
}

.detail {
  margin-right: 66px;
  padding: 28px 0 29px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 10px;
}

.detail-title {
  margin: 20px 28px 30px;
}

.detail-contact_wrapper {
  display: flex;
  margin: 0 20px 30px 23px;
}

.detail-contact_phone {
  display: flex;
  margin-right: 125px;
}

.detail-image {
  width: 18px;
}

.link-title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #141414;
}

.detail-contact_link {
  margin-left: 20px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20.8px;
  color: #C4C4C4;
}

.detail-contact_email {
  display: flex;
}

.detail-email_wrapper {
  display: flex;
  margin: 0 20px 24px 23px;
}

/* media 768px */

@media screen and (max-width: 1279px) {
  .contact-title {
    margin: 80px 0 0;
  }

  .contact-image {
    margin: 0 0 60px;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 30px 80px;
  }

  .contact-data_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .email-phone_wrapper {
    width: 100%;
    justify-content: space-evenly;
  }

  .email-phone_input {
    width: 250px;
  }

  .captcha-wrapper {
    width: 100%;
    justify-content: space-around;
  }

  .detail-wrapper {
    margin: 0 30px 60px;
    flex-direction: column;
    align-items: center;
  }

  .detail {
    max-width: 680px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 819px) {
  .wrapper {
    width: auto;
  }

  .header {
    margin: 0;
    padding: 20px 20px 20px;
  }

  .contact-title {
    margin: 20px 0 99px;
  }

  .contact-subtitle {
    position: absolute;
    text-align: center;
    top: 178px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.6px;
    margin: 0 20px 0;
    left: 0px;
  }

  .contact-background {
    position: absolute;
    width: 100%;
    height: 380px;
    object-fit:cover;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px;
    align-items: center;
  }

  .contact-image {
    width: 335px;
    height: 302px;
    margin: 0;
    z-index: 1;
  }

  .contact-data_wrapper {
    margin: 0 auto;
  }

  .contact-input {
    width: 312px;
  }

  .captcha-wrapper {
    width: 335px;
    justify-content: center;
  }

  .g-recaptcha {
    width: 210px;
    transform: scale(0.6);
    transform-origin: 0;
  }

  .email {
    margin-right: 8px;
  }

  .email-phone_input {
    width: 140px;
  }

  .detail-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  .detail {
    margin: 0 20px 32px;
    padding: 0;
  }

  .detail-contact_wrapper {
    display: block;
  }

  .detail-contact_phone {
    display: flex;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .detail-footer_image {
    width: 335px;
    margin-bottom: 100px;
  }
}
